{
  "CN": "system:node:{{ ansible_fqdn }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "L": "ShenZhen",
      "ST": "ShenZhen",
      "O": "system:nodes",
      "OU": "Kubernetes-manual"
    }
  ]
}
